@font-face {
    font-family: pokeFont;
    src: url("../images/Pokemon_GB.ttf")
  }

.container{   
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;      
  height: 100%;
  width: 100%;       
  
  position: fixed;   
  background-image: url('../images/bg_02.png'); 
}

.image{
  position: absolute;  
  z-index: 0;
  transform: translate(-50%, 0%);
  height: 100%;
}

.pokeName{  
  display: flex;
  color: black;
  position: relative;   
  border-radius: 10px;
  text-decoration: none;
  padding:4px;    
  font-family: pokeFont;
  src: url("../images/Pokemon_GB.ttf");
  font-size: 20px;
  transform: translate(25%, 40%);  
  margin-top: -2px;
}

.card{
  display: grid;
  justify-content: space-evenly;
}

.card span{
  margin-top: 19px;
  margin-bottom: 10px;  
  color: black;
  position: relative;   
  border-radius: 10px;
  text-decoration: none;
  padding:2px;    
  font-family: pokeFont;
  src: url("../images/Pokemon_GB.ttf");
  font-size: 20px;
}
.pokemon{
  position:relative ;
  z-index: 0;
  height: 250px;
  width: 250px;
  margin-top: 240px;
  margin-right: 25px;
}

.loading{
  position: relative;  
  z-index: 0; 
  transform: translate(-3.8%, 51.3%);
  border-radius: 10px;
  
}
.imageDb{
  
  position: relative;
  z-index: 0;
  height: 250px;
  width: 250px;
  margin-top: 250px;
  margin-right: 50px;
}
.idDb{
  padding: 10px;
  margin-top: 10px;  
  display: flex;
  color: black;
  position: relative;   
  border-radius: 10px;
  text-decoration: none;
  transform: translate(-7%, -1250%);
  font-family: pokeFont;
  src: url("../images/Pokemon_GB.ttf");
  font-size: 11px;
}
.id{  
  margin-bottom: 30px;
  display: flex;
  color: black;
  position: relative;   
  border-radius: 10px;
  text-decoration: none;
  padding:10px;    
  font-family: pokeFont;
  src: url("../images/Pokemon_GB.ttf");
  font-size: 20px;
  transform: translate(60%, -900%);
}

.card p{    
  transform: translate(-5%, -140%);
  display: flex;
  color: black;
  position: relative;   
  border-radius: 10px;
  text-decoration: none;
  padding:1px;    
  font-family: pokeFont;
  src: url("../images/Pokemon_GB.ttf");
  font-size: 20px;
 
}

.progressBar1{
  display: flex;
  transform: translate( 60%, 0%);
  
}

.progressBar2{
  display: flex;
  transform: translate(20%, 0%);
}

.progressBar3{
  display: flex;
  transform: translate(10%, 0%);
}

.progressBar4{
  display: flex;
  transform: translate(31%, 0%);
}

.progressBar5{
  display: flex;
  transform: translate(50%, 0%);
}

.progressBar6{
  display: flex;
  transform: translate(10%, 0%);
}

.progressBar7{
  display: flex;
  transform: translate(1%, 0%);
}

.progressBar8{
  display: flex;
  transform: translate(19%, 0%);
}

.pokeButtonCustom{
  transform: translateY(-830%) translateX(+100%);
  position: relative;
  height: 100px;
  width: 100px;
  border-radius: 50px;
  border-color: black;
  box-shadow: 1px 1px 2px 2px black, -2px -2px 2px 2px black;
  background-image: url('../images/submit_button.jpg');
  background-position: center;
  background-size: cover;
  
}
.pokeButton{
  transform: translateY(-830%) translateX(+140%);
  position: relative;
  height: 100px;
  width: 100px;
  border-radius: 50px;
  border-color: black;
  box-shadow: 1px 1px 2px 2px black, -2px -2px 2px 2px black;
  background-image: url('../images/submit_button.jpg');
  background-position: center;
  background-size: cover;
  -webkit-transform: translateY(-830%) translateX(+140%);
  -moz-transform: translateY(-830%) translateX(+140%);
  -ms-transform: translateY(-830%) translateX(+140%);
  -o-transform: translateY(-830%) translateX(+140%);
}
.pokeButtonX{ 
  transform: translateY(-170%) translateX(170%);
  position: relative;
  height: 100px;
  width: 100px;
  border-radius: 50px;
  border-color: black;
  box-shadow: 1px 1px 2px 2px black, -2px -2px 2px 2px black;
  background-image: url('../images/submit_button.jpg');
  background-position: center;
  background-size: cover;
  
}
.pokeButtonX:hover{
  cursor: pointer;
}
.pokeButton:hover{
  cursor: pointer;
}
.pokeButtonCustom:hover{
  cursor: pointer;
}


.types{    
  display: flex;
  justify-content: space-evenly;
  color: black;
  position: relative;   
  border-radius: 20px;
  text-decoration: none;
  padding:0px;      
  font-family: pokeFont;
  src: url("../images/Pokemon_GB.ttf");
  font-size: 20px;  
}


.type[value="grass"]{
  background-color: #78C850;    
  border: 4px solid black;
  
}

.type[value="fire"]{
  background-color: #e13806;    
  border: 4px solid black;
}

.type[value="water"]{
  background-color: #2d89e3;    
  border: 4px solid black;
}

.type[value="bug"]{
  background-color: #89960d;    
  border: 4px solid black;
}

.type[value="normal"]{
  background-color: #c4bfb5;   
  border: 4px solid black;
}

.type[value="poison"]{
  background-color: #8d418e;    
  border: 4px solid black;
}

.type[value="electric"]{
  background-color: #e69402;     
  border: 4px solid black;
}

.type[value="ground"]{
  background-color: #b19950;       
  border: 4px solid black;
}

.type[value="fairy"]{
  background-color: #f3aef4;       
  border: 4px solid black;
}

.type[value="fighting"]{
  background-color: #7e311b;      
  border: 4px solid black;
}

.type[value="psychic"]{
  background-color: #e7437b;      
  border: 4px solid black;
}

.type[value="rock"]{
  background-color: #b5a053;    
  border: 4px solid black;
  
}

.type[value="ghost"]{
  background-color: #5d5db0;    
  border: 4px solid black;
}

.type[value="ice"]{
  background-color: #6bd3f4;    
  border: 4px solid black;
}

.type[value="dragon"]{
  background-color: #6f5bd5;    
  border: 4px solid black;
}

.type[value="flying"]{
  background-color: #5c73d3;    
  border: 4px solid black;
}

.type[value="steel"]{
  background-color: #b2b2c0;    
  border: 4px solid black;
}
